/*========================================MAIN========================================*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

img{
  margin-bottom: -4px;
}

li {
  list-style-type: none;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

section {
  background-color: #f5f5f5;
  transition: all 300ms ease;
}

/*========================================MAIN CLASSES========================================*/

.blue{
  color: #2965F1;
}

.container {
  padding: 0px 0;
  width: 100%;
}

.row {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 12px;
}

.click {
  cursor: pointer;
  transition: all 300ms ease;
}

.click:hover {
  transform: scale(1.1);
}

.click:active {
  transform: scale(0.8);
}

.title {
  font-size: 120px;
  margin-bottom: 12px;
  text-align: left;
  line-height: 1;
}

/*========================================HEADER========================================*/

#landingPage {
  height: 100vh;
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1000px;
  padding: 0 30px;
}

.headerParagraph {
  font-size: 24px;
  line-height: 2;
  max-width: 450px;
}

.socialList {
  margin-top: 16px;
  display: flex;
}

.socialLink {
  background-color: #2965F1;
  color: white;
  padding: 6px;
  width: 32px;
  height: 32px;
  font-size: 14px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/*========================================NAV========================================*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width:220vh;
  margin: 0 auto;
  padding: 0 100px;
  height: 80px;
  background-color: #00000007;
}

.navLinkButton {
  background-color: #2965F1;
  border-radius: 20px;
  border: none;
  padding: 8px 18px;
  transition: all 300ms ease;
}

.navLinkButton:hover{
  filter: brightness(1.2);
}
#personalLogo {
  width: 170px;
  height: 170px;
  filter: invert(none);
}

.navLinkList {
  display: flex;
  align-items: baseline;
}

.navLink {
  margin: 0 12px;
}

.navLinkAnchor {
  font-size: 16px;
  color: #242424;
  font-weight: 700;
}

.navLinkAnchorWhite{
color: #f5f5f5;
}

.navLinkBlue {
  font-size: 16px;
  color: #2965F1;
  font-weight: 700;
}
.fa-adjust {
  font-size: 20px;
}

/*========================================ABOUT========================================*/

#about {
  background-color: rgb(231, 231, 231);
  height: 101vh;
}
.aboutLayout {
  display: flex;
  justify-content: center;
}
.aboutParagraphHolder{
  display: flex;
}

.aboutParagraphHolder {
  display:block;
  width: 25%;
  text-align: justify;
  margin-right: 6%;
}
.aboutParagraph {
  font-size: 20px;
  line-height: 1.5;
}

.aboutImgWrapper {
  display: flex;
  position: relative;
  align-self: auto;
  width: 25%;
  overflow-y: hidden;
  border-radius: 20px;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
}

.aboutImg {
  max-width: 100%;
}

/*========================================SKILLS========================================*/

.skillImg {
  width: 100%;
  max-width: 100px;
  transition: all 300ms;
}
.skill:hover .skillImg {
  filter: brightness(80%);
  opacity: 0.86;
  transform: scale(0.9);
}

.skill {
  width: 25%;
  display: flex;
  justify-content: center;
  position: relative;
}
.skillImgHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 16px;
}

.skillList {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.skillName {
  position: absolute;
  bottom: 0;
  transform: scale(0);
  transition: all 300ms;
  font-size: 20px;
  opacity: 0;
}
.skill:hover .skillName {
  transform: scale(1);
  opacity: 1;
}

/*========================================PROJECTS========================================*/

#projects {
  background-color: rgb(231, 231, 231);
  padding-bottom: 70px;
}

.projectsList {
  display: flex;
  flex-wrap: wrap;
  align-items:flex-start;
  justify-content:center;
}

.sectionTitle {
  text-align: center;
  font-size: 48px;
  margin-bottom: 60px;
}

.projectImg {
  width: 100%;
  height: 100%;
  position: center;
  transition: all 300ms ease;
}

.projectWrapper {
  display: block;
  position: relative;
  align-self: auto;
  border-radius: 20px;
  max-height:70vh;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
  overflow: hidden;
  margin-bottom: 30px;
  margin: 1%;
}

.projectWrapper:hover .projectDescription {
  opacity: 1;
  transform: translateY(-50%);
}

.projectWrapper:hover .projectImg {
  transform: scale(1.07);
  filter: blur(15px);
}

.projectDescription {
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(100%);
  opacity: 0;
  transition: opacity 300ms, transform 450ms ease;
  color: white;
  max-width: 550px;
}

.projectWrapper:hover .projectWrapperBackground {
  opacity: 0.7; 
  visibility: visible;
}

.projectWrapperBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000063;
  opacity: 0; 
  transition: all 450ms ease;
  visibility: hidden;
}

.projectdescriptionTitle {
  font-size: 40px;
}

.projectDescriptionSubtitle {
  margin-top: 8px;
}

.projectDescriptionLink {
  color: white;
  font-size: 20px;
  margin-right: 16px;
}

.projectDescriptionParagraph {
  margin: 16px 0;
}

.projectDescriptionTags{
  background-color: white;
  border-radius: 20px;
  padding: 1px 7px;
  margin-bottom: 4px;
}

.projectDescriptionTagsReversed{
  color: white;
  background-color: #2965F1;
  border-radius: 20px;
  padding: 1px 7px;
}

/*========================================GALLERY========================================*/

#gallery {
  padding-bottom: 40px;
}

.galleryRow {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 12px;
}

.galleryLayout {
  display: flex;
  flex-wrap: wrap;
  align-items:flex-start;
  justify-content:center;
}

.galleryItem {
  display: block;
  position: relative;
  align-self: auto;
  width: 29%;
  max-height: 70vh;
  margin: 10px 10px;
  overflow-y: hidden;
}

.galleryImg {
  max-width: 100%;
}

.sectionSubtitle {
  text-align: center;
  font-size: 24px;
  margin-top: 50px;
}

/*========================================FOOTER========================================*/

footer {
  position: relative;
  background-color: #131313;
  display: flex;
  padding: 12px 0;
}

.footerRow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerLogoImg {
  width: 240px;
}

.footerSocialList {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  margin: 28px 0;
}

.footerSocialLink,
.footerCopyright {
  color: white;
}

.footerLogoPopper {
  position: absolute;
  top: 0px;
  font-weight: 700;
  opacity: 0;
  transition: all 300ms ease;
  color: white;
}

.footerAnchor {
  position: relative;
}

.footerAnchor:hover .footerLogoPopper {
  transform: translateX(20px);
  opacity: 1;
}

/*========================================DARK THEME========================================*/

.dark-theme .title,
.dark-theme .sectionTitle,
.dark-theme .sectionSubtitle,
.dark-theme .navLinkAnchor,
.dark-theme .fa-adjust,
.dark-theme .headerParagraph,
.dark-theme .sectionSubtitle,
.dark-theme .skillName,
.dark-theme .socialLink,
.dark-theme .aboutParagraph {
  color: white;
}
.dark-theme nav,
.dark-theme #about,
.dark-theme #projects{
  background-color: black;
}
.dark-theme section {
  background-color: #242424;
}

.dark-theme #personalLogo {
  filter: 1;
}

.dark-theme .socialLink {
  color: black;
}

/*========================================LINK HOVER EFFECT========================================*/

.linkHoverEffect {
  position: relative;
}

.linkHoverEffect:after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  right: 0;
  transition: all 300ms ease;
}

.linkHoverEffectWhite:after {
  background-color: #fff;
}

.linkHoverEffectBlack:after {
  background-color: #242424;
}

.linkHoverEffectBlue:after{
  background-color:#EF652A;
  height: 4px;
}
.linkHoverEffectBlueSmall:after{
  background-color:#EF652A;
  height: 2px;
}

.linkHoverEffect:hover:after {
  left: 0;
  width: 100%;
}

/*========================================RESPONSIVE========================================*/

@media (max-width: 768px) {
  .title {
    font-size: 80px;
  }
  .headerParagraph {
    font-size: 20px;
  }
  .galleryItem {
    width: 48%;
    margin: 1%;
    height: 319px;
  }
  nav{
    padding: 0 20px;
  }
  .aboutParagraph {
    font-size: 12px;
  }
  .aboutImg {
    visibility: hidden;
  }
  .aboutImgWrapper {
    visibility: hidden;
  }
  .aboutLayout {
    display: list-item;
    list-style: none;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 52px;
  }
  .headerParagraph {
    font-size: 18px;
  }
  .navLink:first-child {
    display: none;
  }
  .projectDescriptionParagraph {
    display: none;
  }
  .project__description {
    left: 0;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .projectDescriptionSubtitle {
    margin-bottom: 8px;
  }
}
